/*reset start*/
body, p, blockquote, figure, hr, h1, h2, h3, h4, h5, h6, ul, menu, dir, ol, dl, dd, fieldset, input[type=radio], input[type=checkbox], input[type=range], pre, xmp, plaintext, listing {
    margin: 0;
    white-space: inherit;
}
ul, menu, dir, ol, legend, fieldset, input, input[type=password], input[type=search], textarea, input[type=hidden], input[type=image], input[type=file], input[type=radio], input[type=checkbox], input[type=range], input[type=button], input[type=submit], input[type=reset], button {
    padding: 0;
}
input[type=search], input[type=button], input[type=submit], input[type=reset] {
    -webkit-appearance: none;
}
input[type=file]{
    height: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
cite, var, address, em {
    font-style: normal;
}
a:-webkit-any-link {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, iframe {
    border: 0;
}
ol, ul {
    list-style: none;
}
input, textarea, select, button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}
input, select, button {
    vertical-align: middle;
    color: inherit;
}
button {
    *overflow: visible;
}
html {
    -webkit-text-size-adjust: none;
}
em {
    font-style: normal;
}
:active {
    outline: 0 none;
}
/*reset end*/
/*general start*/

body {
    font: 14px/1.5 "Microsoft Yahei";
    margin: 0 auto;
    color: #404040;
    background-color: #eee;
    min-width: 1045px;
}
body.hidden{
    overflow-y: hidden;
}
img {
    display: block;
    border: none;
}
a:link, a:visited, a:active {
    color: #404040;
    text-decoration: none;
}
a:hover {
    color: #7cb234;
    text-decoration: underline;
}
.clearfix:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.extra {
    position: relative;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.t-r {
    text-align: right;
}
.t-l {
    text-align: left;
}
.c-red {
    color: #ed1c24;
}
.c-gray {
    color: #8f8f8f;
}
.c-white {
    color: #fff;
}
.c-green {
    color: #7cb234;
}
.f-s {
    font-size: .8em;
}
.e05 {
    display: inline-block;
    width: 0.5em;
}
.e1 {
    display: inline-block;
    width: 1em;
}
.e2 {
    display: inline-block;
    width: 2em;
}
.e3 {
    display: inline-block;
    width: 3em;
}
.nodata {
    text-align: center;
    padding: 7px 0;
}
/*general end*/
/* form common start */

input[type="submit"] {
    cursor: pointer;
}
.form input[type="text"], .form input[type="password"] {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    /*-webkit-box-sizing: border-box;
    box-sizing: border-box;*/
}
.form select {
    height: 20px;
    padding: 10px;
    border: 1px solid #cacaca;
    background-color: #fff;
    box-sizing: content-box;
}
.form textarea {
    height: 84px;
    padding: 10px;
    border: 1px solid #cacaca;
}
.form input[readonly], .form textarea[readonly],.form select[disabled] {
    background-color: #efefef;
}
.form .form-item:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.form .form-item {
    padding-bottom: 22px;
    zoom: 1;
}
.form .form-item input{
    height: 20px;
    padding: 10px;
    border: 1px solid #cacaca;
}
.form .form-label {
    float: left;
    width: 290px;
    line-height: 42px;
    text-align: right;
}
.form .form-label span {
    color: #ff0000;
}
.form .form-value {
    float: left;
    width: 660px;
    margin-left: 10px;
    text-align: left;
}
.form .form-span{
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
}
.form .form-radio-group {
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
}
.form .form-item .form-radio-group input{
    display: none;
    width: auto;
}
.form .form-radio-group label {
    display: inline-block;
    margin-right: 25px;
    padding-left: 25px;
    background-image: url(../images/login/checkbox_off_a.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.form .form-radio-group label.active {
    background-image: url(../images/login/checkbox_on_a.png);
}
.form .form-buttons {
    padding: 20px 0;
    text-align: center;
}
.form .form-buttons .button {
    display: inline-block;
    width: 138px;
}
.form .form-buttons input.button{
    width: 162px;
}
.form .form-image {
    position: relative;
    width: 255px;
    height: 125px;
    border: 1px solid #cacaca;
    overflow: hidden;
}
.form .form-image .file {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    font-size: 300px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.form .form-image img {
    width: 255px;
    height: 125px;
}
.form .msg-box {
    position: absolute;
    line-height: normal;
}
.form .error {
    color: red;
    font-weight: bold;
}
/* form common end */
/*header start*/
.header {
    position: relative;
    height: 53px;
    background-color: #7cb234;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.header .page-vertical {
    height: 100%;
}
.header .icon-logo {
    display: block;
    width: 119px;
    height: 53px;
    background-image: url(../images/common/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    float: left;
}
.header-left{
    float:left;
    line-height:50px;
    text-indent:5em;  
}
.header-left .operate{
    margin-left:10px;
    padding:3px 10px;
    line-height: 22px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
}
.header-left span{
    color: #fff;
}
.header-left ul li{
    float: left;
}
.header-left ul li a{
    color: #fff;
}
.header-left .search {
    margin: 5px 0 0 20px;
    width: 345px;
    height: 37px;
    border: 1px solid #fff;
}
.header-left .search .search_input {
    width: 302px;
    height: 37px;
    text-indent: 1em;
    border: 0;
    float: left;
}
.header-left .search .search_bg {
    width: 41px;
    height: 38px;
    border: none;
    background: url(../images/mall/search.png) no-repeat center center;
    cursor: pointer;
    float: left;
}
.header-left .icon-home {
    background-image: url(../images/common/icon_home.png);
}
.header-left .icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.header-right .link, .header-right .unlink {
    display: inline-block;
    height: 53px;
    line-height: 53px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
}
.header-right {
    float: right;
}
.header-right li {
    float: right;
}
.header-right li:first-child {
    margin-right: 0px;
}
.header-right .link, .header-right .unlink {
    display: inline-block;
    height: 53px;
    line-height: 53px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
}
.header-right .unlink {
    padding: 0;
    cursor: auto;
}
.header-right .link:hover, .header-right .link.active {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.header-right .overlay {
    position: relative;
    z-index: 10;
}
.header-right .overlay-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: -5px 5px 10px rgba(1, 1, 1, 0.2);
}
.header-right .overlay:hover .overlay-content, .header-right .overlay.active .overlay-content {
    display: block;
}
.header-right .icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.header-right .icon-home {
    background-image: url(../images/common/icon_home.png);
}
.header-right .icon-personal {
    padding-left: 28px;
    background-image: url(../images/common/icon_personal.png);
    background-position: 9px center;
}
.header-right .icon-personal >span {
    color: #fff;
    display: inline-block;
    background-image: url(../images/common/user-up-arrow.png) no-repeat;
    height: 20px;
    width: 10px;
}
.header-right #userbar{
    position: relative;
}
.header-right #userbar dl{
    position: absolute;
    background: #fff;
    padding:15px 10px;
    top: 40px;
    height: 68px;
    width: 70px;
    background: url(../images/common/user-list-box.png) no-repeat;
}
.header-right #userbar dl dt{
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    height: 30px;
}
.header-right .icon-screen {
    background-image: url(../images/common/icon_screen.png);
}
.header-right .icon-setting {
    background-image: url(../images/common/setting-btn.png);
}
.header-right .icon-category {
    background-image: url(../images/common/icon_fun.png);
}
.header-right .icon-credit {
    background-image: url(../images/common/icon_credit.png);
}
.header-right .icon-login {
    padding-left: 28px;
    background-image: url(../images/common/icon_personal2.png);
    background-position: 9px center;
}
.header-right .icon-index {
    background-image: url(../images/common/icon_index.png);
}
.header-right .header-mall, .header-right .header-creditb, .header-right .header-customize, .header-right .header-znsj,.header-right .my-customize {
    display: none;
}
.znsj-header span {
    margin-left: 10px;
    margin-right: 10px;
}
.header-right .icon-logout {}
/*header end*/
/*footer start*/
#sidepanel {
	position: fixed;
	z-index: 89;
	bottom:0;right:0;
	background: url(../images/common/top.png) no-repeat;
	width: 63px;
    height: 50px;
	display: none;
}
#sidepanel a {
    display: block;
    padding: 25px 0;
}
.footer { 
    text-align: center;
    color: #c1c1c1;
    background-color: #474747;
    display: none;
}
.footer a:link, .footer a:visited, .footer a:active {
    color: #c1c1c1;
}
.footer a:hover {
    color: #eee;
}
.footer .nav {
    height: 38px;
    font-size: 12px;
    background-color: #4d4d4d;
}
.footer .nav li {
    display: inline-block;
    /*padding: 0 30px;*/
    padding: 0 25px;
    margin: 10px 0;
    border-left: 1px solid #696969;
}
.footer .nav li.first, .footer .nav li:first-child {
    border: none;
}
.footer .helper {
    display: none;
    padding: 30px 0;
    line-height: 30px;
}
.footer .helper-item {
    float: left;
    width: 25%;
    min-height: 125px;
    _height: 125px;
    text-align: center;
}
.footer .helper-item .helper-title {
    font-size: 16px;
    padding-bottom: 7px;
}
.footer .company{
    padding: 30px 0 40px;
}
.footer .copyright-zh {
    display: block;
    margin-bottom:8px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: left center;
}
/*footer end*/
/*content common start*/

.section {
    /*min-height: 1200px;*/
}
.page-vertical {
    width: 1045px;
    margin: auto;
}
.breadcrumbs {
    padding: 17px 0;
}
.breadcrumbs .return {
    float: right;
}
.nextpage {
    display: block;
    line-height: 36px;
    text-align: center;
    padding-top: 14px;
}
.nextpage a{
    margin-left: 7px;
    padding: 5px 10px;
}
.nextpage a:first-child{
    margin-left: 0;
}
.nextpage a:hover {
    text-decoration: none;
}
.nextpage a.disabled {
    color: #ccc;
    cursor: not-allowed;
}
.options {
    text-align: center;
}
.button,input.button {
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #bfbfbf;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    line-height: normal;
}
.button.big{
    font-size: 18px;
    padding: 10px 25px;
}
.button.btn-primary{
    color: #fff;
    border-color: #eb3b42;
    background-color: #eb3b42;
}
.button.btn-secondary{
    color: #fff;
    border-color: #7cb234;
    background-color: #7cb234;
}
.button.btn-gray{
    color: #929292;
    border: 1px solid #cacaca;
    background-color: #eeeeee;
}
.button:hover{
    color: #fff;
    border-color: #7cb234;
    background-color: #7cb234;
    text-decoration: none;
}
.button.btn-primary:hover{
    border-color: #d8373d;
    background-color: #d8373d;
}
.button.btn-secondary:hover {
    /*color: #fff;*/
    border-color: #648f2b;
    background-color: #648f2b;
}
.button.disabled,.button.disabled:hover {
    color: #fff;
    border-color: #bfbfbf;
    background-color: #9ca0a9;
    cursor: not-allowed;
}
.button.active {
    color: #fff;
    border-color: #7cb234;
    background-color: #7cb234;
}
.zj-select{
    position: relative;
    z-index: 9;
    display: inline-block;
    vertical-align: middle;
    cursor: default;
    line-height: 1.5em;
}
.zj-select.disabled{
    background-color: #efefef;
}
.zj-select.active{
    z-index: 10;
    border-color: #7cb234;
}
.zj-select em{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 39px;
    background-color: #dfdddd;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.zj-select.active em{
    background-color: #7cb234;
}
.zj-select em i{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-image: url(../images/common/select-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.zj-select.active em i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.zj-select .default{
    display: block;
    padding: 9px 55px 9px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.zj-select.disabled .default{
    background-color: #efefef;
}
.zj-select.active .default{
    border-color: #7cb234;
}
.zj-select .dropdown{
    display: none;
    position: absolute;
    z-index: 8;
    top: 40px;
    left: -0px;
    right: -0px;
    max-height: 380px;
    overflow-y: auto;
    border: 1px solid #7cb234;
    background-color: #fff;
}
.zj-select .dropdown.bottom{
    top: auto;
    bottom: 40px;
}
.zj-select.active .dropdown{
    display: block;
}
.zj-select .dropdown li{
    padding: 5px 15px;
    cursor: pointer;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.zj-select .dropdown li.active,.zj-select .dropdown li:hover{
    background-color: lightblue;
}
.loading{
    padding: 14px;
    text-align: center;
}
/*content common end*/
/*content two column start*/

.content-left-bg {
    background-image: url(../images/common/content-bg.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}
.content-left-bg .page-vertical {
    background-image: url(../images/common/content-left-bg.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}
.content-left {
    width: 100px;
    min-height: 100px;
    float: left;
    padding-right: 25px;
}
.content-left ul {
    width: 100px;
}
.content-left a {
    margin: 10px 0;
    line-height: 45px;
    display: block;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.content-left a:hover{
    color: #fff;
    background-color: #95C05C;
    text-decoration: none;
}
.content-left a.active {
    color: #fff;
    background-color: #7cb234;
}
.content-right {
    float: left;
    width: 910px;
    min-height: 500px;
    padding-left: 10px;
    padding-bottom: 15px;
}
/*content two column end*/
/* tips start */

.panel {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 365px;
    padding: 0 32px;
    margin-left: -214px;
    margin-top: -127px;
    background: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -moz-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -ms-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -o-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
}
.panel .panel-show {
    display: block;
}
.panel .panel-content {
    display: table;
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #d3d3d3;
    color: #000;
    text-align: center;
}
.panel .panel-cell {
    display: table-cell;
    vertical-align: middle;
}
.panel .panel-close{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-indent: 20px;
    background-image: url(../images/common/closeBtnBg@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    background-color: #868686;
}
.panel .panel-close:hover{
    background-color: #5d5d5d;
}
.panel .panel-title {
    font-size: 16px;
    padding-bottom: 10px;
}
.panel .panel-text {
    max-height: 4.2em;
    line-height: 2.1em;
    font-size: 14px;
    overflow: auto;
}
.panel .panel-buttons {
    padding: 28px 0;
}
.panel .options {
    text-align: center;
}
.panel .options .btn {
    display: inline-block;
    width: 120px;
    padding: 7px 15px;
    color: #fff;
    background-color: #7cb234;
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.panel .options .btn:hover {
    background-color: #648f2b;
    text-decoration: none;
}
.panel .options .btn.disabled {
    color: #4b4b4b;
    background-color: #eaeaea;
    cursor: not-allowed;
}
.panel .options .btn-cancel {
    margin-left: 10px;
    color: #929292;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
}
.panel .options .btn-cancel:hover {
    color: #fff;
    border-color: #d3d3d3;
    background-color: #d3d3d3;
}
.panel .options .btn-submit {
    margin-right: 14px;
    background-color: #c08dec;
}
.panel .panel-tips {
    padding-top: 10px;
    color: #7a7a7a;
    text-align: center;
}
.panel-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    display: none;
    z-index: 90;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
#zj-toast {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 320px;
    text-align: center;
}
#zj-toast span {
    display: inline-block;
    padding: 5px 7px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
#zj-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
#zj-loading .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 385px;
    height: 385px;
    margin-top: -192px;
    margin-left: -192px;
}
#zj-loading .loading > div {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#zj-loading .loading .s-1 {
    width: 385px;
    height: 385px;
    background-image: url(../images/common/s1-1.png);
    -webkit-animation: rotateCW 40s linear 0s infinite;
    -moz-animation: rotateCW 40s linear 0s infinite;
    -ms-animation: rotateCW 40s linear 0s infinite;
    -o-animation: rotateCW 40s linear 0s infinite;
    animation: rotateCW 40s linear 0s infinite;
}
#zj-loading .loading .s-2 {
    top: 23px;
    left: 23px;
    width: 339px;
    height: 339px;
    background-image: url(../images/common/s1-2.png);
    -webkit-animation: rotateCCW 16s linear 0s infinite;
    -moz-animation: rotateCCW 16s linear 0s infinite;
    -ms-animation: rotateCCW 16s linear 0s infinite;
    -o-animation: rotateCCW 16s linear 0s infinite;
    animation: rotateCCW 16s linear 0s infinite;
}
#zj-loading .loading .s-3 {
    top: 30px;
    left: 188px;
    width: 9px;
    height: 158px;
    background-image: url(../images/common/s1-3.png);
    -webkit-animation: rotateCW 2s linear 0s both infinite;
    -webkit-transform-origin: 50% 100%;
    -moz-animation: rotateCW 2s linear 0s both infinite;
    -moz-transform-origin: 50% 100%;
    -ms-animation: rotateCW 2s linear 0s both infinite;
    -ms-transform-origin: 50% 100%;
    -o-animation: rotateCW 2s linear 0s both infinite;
    -o-transform-origin: 50% 100%;
    animation: rotateCW 2s linear 0s both infinite;
    transform-origin: 50% 100%;
}
#zj-loading .loading .s-4 {
    top: 30px;
    left: 30px;
    width: 325px;
    height: 325px;
    background-image: url(../images/common/s1-4.png);
    -webkit-animation: rotateCW2 2s linear 0s both;
    -moz-animation: rotateCW2 2s linear 0s both;
    -ms-animation: rotateCW2 2s linear 0s both;
    -o-animation: rotateCW2 2s linear 0s both;
    animation: rotateCW2 2s linear 0s both;
}
/* tips end */
/* sort start */

.sort {
    width: 217px;
    position: absolute;
    top: -19px;
    right: -66px;
    background: #fafafa;
    display: none;
}
.sort a {
    display: block;
    padding: 27px 0;
    margin-right: 15px;
    margin-left: 20px;
    border-bottom: 1px solid #eeeeee;
}
.sort li:last-child a:last-child {
    border-bottom: none;
}
/* sort end */
/* province-change start */

.changing {
    background: url(../images/common/change.png) no-repeat center left;
    padding-left: 30px;
}
.change-header .back {
    float: right;
    margin-right: 10px;
    line-height: 50px;
}
.change-header .back button {
    width: 82px;
    height: 32px;
    background: #8a8a8a;
    color: #eaeaea;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.province-list button {
    border: 1px solid #fff;
    padding: 5px 0;
    background: #fff;
    width: 78px;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
}
.province-list button:hover, .province-list button.active {
    border: 1px solid #bdd899;
}
.province-list button.active {
    background-color: #7cb234;
    color: #fff;
}
.province-list li {
    float: left;
    width: 16.6%;
    margin-bottom: 32px;
    text-align: center;
}
.province-confirm {
    text-align: center;
}
.province-confirm button {
    width: 123px;
    height: 40px;
    color: #f1f6ec;
    background: #7cb234;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.province-confirm button:hover, .province-confirm button:active {
    background-color: #6AA51D;
}
/* province-change end */
/* modal start */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    display: none;
    /*overflow: hidden;*/
    
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate3d(0, -25%, 0);
    -o-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0)
}
.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.modal-dialog {
    position: relative;
    width: auto;
    width: 600px;
    margin: 30px auto
}
.modal2 .modal-dialog {
    height: 396px;
    top: 50%;
    position: absolute;
    margin-top: -198px;
    left: 50%;
    margin-left: -300px;
}
.modal3 .modal-dialog {
    width: 670px;
}
.modal-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    outline: 0;
    -webkit-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -moz-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -ms-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    -o-box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
    box-shadow: 1px 0px 25px rgba(25, 23, 24, 0.55);
}
.modal-header {
    min-height: 16.43px;
    padding: 11px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #848585;
    background-color: #575859;
}
.modal-header button {
    padding: 0;
    line-height: 1;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border: 0;
    cursor: pointer;
    outline: none;
    background: 0 0;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
}
.modal-header button:hover {
    filter: alpha(opacity=80);
    opacity: .8;
}
.modal2 .modal-header {
    background-color: #7cb234;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
    text-align: center;
    position: relative;
}
.modal-close {
    float: right;
}
.modal-header .close {
    margin-top: 3px
}
.modal-return {
    display: none;
    position: absolute;
    top: 12px;
    left: 15px;
}
.modal-title {
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
    text-align: left;
}
.modal2 .modal-title {
    text-align: center;
}
.modal-body {
    position: relative;
    padding: 15px
}
.modal-footer {
    display: none;
    padding: 11px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 5px;
    border: none;
    outline: none;
}
.modal-footer .btn:hover, .modal-footer .btn:focus {
    color: #333;
    text-decoration: none;
}
.modal-footer .btn-default {
    background-color: #8a8a8a;
    color: #eaeaea;
}
.modal-footer .btn-primary {
    background-color: #7cb234;
    color: #fff;
}
.modal-footer .btn-default:hover, .modal-footer .btn-default:focus, .modal-footer .btn-default:active, .modal-footer .btn-default.active {
    color: #eaeaea;
    background-color: #606060;
}
.modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus, .modal-footer .btn-primary:active, .modal-footer .btn-primary.active {
    color: #fff;
    background-color: #6AA51D;
}
/* modal end*/
/*common btn*/

.green-btn {
    border: none;
    background-color: #7cb234;
    color: white;
    padding: 0px;
    border-radius: 10px;
}
/*common btn*/
/* login start */

.login-form {
    margin-top: 32px;
}
#login-form > div {
    margin: auto;
    width: 446px;
}
#login-form > div.input-pw-border {
    margin-top: 15px;
}
.input-un-border >label, .input-pw-border >label {
    display: block;
    float: left;
    line-height: 54px;
    width: 80px;
    text-align: right;
    border-right: none;
}
.input-un-border, .input-pw-border {
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.input-un-border input, .input-pw-border input {
    border-left: none;
    width: 310px;
    height: 20px;
    line-height: 20px;
    padding: 17px 28px;
    border: none;
    outline: none;
}
.input-rm {
    height: 62px;
    line-height: 62px;
}
.input-rm label {
    display: block;
    float: left;
    width: 222px;
    text-align: center;
}
.input-rm input {
    width: 15px;
    height: 15px;
    border: none;
    margin-top: -2px;
    margin-right: 10px;
    background-image: url(../images/login/checkbox_off.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
.input-rm input:checked {
    background-image: url(../images/login/checkbox_on.png);
}
.login-btn {
    text-align: center;
}
.login-btn .button.btn-reg:hover {
	color: #fff;
	border-color: #378d6a;
	background-color: #378d6a;
}
.login-btn .button {
    width: 212px;
}
.login-btn .btn-reg{
    margin-left: 15px;
    color: #fff;
    border-color: #46b487;
    background-color: #46b487;
}
.login-btn .btn-reg:hover{
    border-color: #20B679;
    background-color: #20B679;
}
.login-history {
    display: none;
    position: absolute;
    top: 54px;
    left: 79px;
    z-index: 99;
    width: 366px;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: white;
    -webkit-box-shadow: -3px 3px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 3px 8px rgba(0,0,0,0.2);
    -ms-box-shadow: -3px 3px 8px rgba(0,0,0,0.2);
    -0-box-shadow: -3px 3px 8px rgba(0,0,0,0.2);
    box-shadow: -3px 3px 8px rgba(0,0,0,0.2);
}
.login-history li {
    height: 35px;
    line-height: 35px;
    padding-left: 27px;
    padding-right: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.login-history li:hover,.login-history li.active {
    background-color: #dddddd;
    cursor: pointer;
}
/* login end */
/*forget start*/

.forget-form {
    width: 469px;
    margin: auto;
    margin-top: 22px;
    display: none;
}
#forget-form .hr {
    border: 1px solid #dcdcdc;
    margin: 0px;
    margin-top: 22px;
    margin-bottom: 17px;
}
#forget-form >div.forget-phone, #forget-form >div.forget-vcode {
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 13px;
}
.forget-phone input, .forget-vcode input {
    width: 284px;
    height: 40px;
}
.forget-phone label, .forget-vcode label {
    margin-right: 10px;
}
.forget-btn {
    margin-top: 22px;
    padding-top: 17px;
    border-top: 1px solid #ccc;
    text-align: center;
}
.forget-btn .button{
    width: 350px;
}
.forget-btn label {
    height: 19px;
    display: block;
}
/*forget end*/
/*address start*/

.address-item {
    position: relative;
    margin-bottom: 2px;
    padding: 12px 0;
    line-height: 40px;
    background: #ffffff;
}
.address-item .address-name {
    float: left;
    width: 196px;
    height: 123px;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    padding-top: 13px;
    color: #a6a6a6;
}
.address-item .address-name i {
    display: block;
    width: 39px;
    height: 39px;
    margin: auto;
    background: url(../images/mall/check_address_logo.png);
}
.address-item .address-name span {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.address-item .address-name a {
    width: 70px;
    margin: auto;
    padding-left: 20px;
    background-image: url(../images/mall/pencil.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}
.address-item .address-detail {
    float: left;
    padding-left: 28px;
    padding-top: 8px;
}
.address-item .address-label {
    color: #a6a6a6;
}
.address-item .address-operate {
    width: 79px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/mall/address_unchecked.png);
}
.address-item .address-operate.active {
    background: url(../images/mall/address_checked.png);
}
.address-button {
    padding: 20px 0;
    text-align: right;
}
.address-button .button {
    width: 110px;
}
.address-add {
    background: #ffffff;
    margin-bottom: 30px;
}
.address-form {
    width: 1004px;
    margin: 0 auto;
    padding-top: 55px;
}
.address-form input {
    width: 497px;
}
.address-form .form-buttons {
    border-top: 1px solid #cacaca;
}
/*address end*/
/*scrollable start*/

.scroll-img {
    position: relative;
    float: left;
    width: 625px;
    height: 252px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    background-color: #fff;
}
.scroll-img .items {
    width: 1000000em;
    height: 100%;
    position: absolute;
}
.scroll-img .items a {
    display: block;
    float: left;
    /*width: 625px;
    height: 252px;*/
}
.scroll-img .navi {
    position: absolute;
    height: 15px;
    right: 20px;
    bottom: 10px;
}
.scroll-img .navi a {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 4px;
    -webkit-border-radius: 4px;
    border-radius: 50%;
    background: #c9c9c9;
    cursor: pointer;
}
.scroll-img .navi a.active {
    background: #CA284F;
}
.scroll-img img {
    width: 753px;
    height: 382px;
}
/*scrollable end*/
/*select start*/

.overlay-cat {
    /*background: url(../images/home/sl-bg.png) no-repeat left bottom;*/
    /*padding-bottom: 8px;*/
    /*padding-left: 2px;*/
    
    border-top: 1px solid #7cb234;
    height: 267px;
    width: 946px;
    top: 53px;
    right: -419px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}
.overlay-cat-select {
    width: 400px;
    height: 247px;
    line-height: 45px;
    background: #fff;
    float: left;
    padding-top: 20px;
}
.overlay-cat-select em {
    margin-left: 77px;
    font-size: 12px;
    color: #7e7e7e;
}
.overlay-cat-select span {
    float: right;
    margin-right: 89px;
}
.overlay-cat-select a {
    display: block;
}
.overlay-cat-select a.active, .overlay-cat-select a:hover {
    color: #7cb234;
    background: url(../images/home/bg.png) no-repeat;
    background-position: center bottom;
    text-decoration: none;
}
.overlay-cat-select a.active em, .overlay-cat-select a:hover em, .overlay-cat-select a.active span, .overlay-cat-select a:hover span {
    color: #7cb234
}
.overlay-cat-pic {
    height: 267px;
    width: 546px;
    float: right;
}
.overlay-cat-pic .credit-pool {
    background: url(../images/home/bg-1.png) no-repeat;
    float: left;
    width: 277px;
    height: 267px;
}
.overlay-cat-pic .project-jsc {
    background: url(../images/home/bg-3.fw00000.png) no-repeat;
    float: left;
    width: 269px;
    height: 267px;
}
.overlay-cat-pic a {
	text-decoration: none;
}
.overlay-cat-pic .sc {
	color: #fff;margin-left:75px;padding-top:157px;display:block;
}
/*select end*/

@-webkit-keyframes rotateCW {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
@-moz-keyframes rotateCW {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(360deg);
    }
}
@-ms-keyframes rotateCW {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateZ(360deg);
    }
}
@-o-keyframes rotateCW {
    0% {
        -o-transform: rotateZ(0deg);
    }
    100% {
        -o-transform: rotateZ(360deg);
    }
}
@keyframes rotateCW {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes rotateCW2 {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(769deg);
    }
}
@-moz-keyframes rotateCW2 {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(769deg);
    }
}
@-ms-keyframes rotateCW2 {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateZ(769deg);
    }
}
@-o-keyframes rotateCW2 {
    0% {
        -o-transform: rotateZ(0deg);
    }
    100% {
        -o-transform: rotateZ(769deg);
    }
}
@keyframes rotateCW2 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(769deg);
    }
}
@-webkit-keyframes rotateCCW {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}
@-moz-keyframes rotateCCW {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(-360deg);
    }
}
@-ms-keyframes rotateCCW {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateZ(-360deg);
    }
}
@-o-keyframes rotateCCW {
    0% {
        -o-transform: rotateZ(0deg);
    }
    100% {
        -o-transform: rotateZ(-360deg);
    }
}
@keyframes rotateCCW {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
