<!-- $Id: complaint_info.htm 16752 2014-09-11 xy $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="main-div">
<form  action="complaint.php" method="post" enctype="multipart/form-data" id="myform" name="theForm">
<table width="100%" id="general-table">
  <tr>
    <td class="label">{$lang.c_name}：</td>
    <td>{$info.c_name}</td>
  </tr>
  <tr>
      <td class="label">{$lang.type}：</td>
      <td>{$info.type_id}</td>
  </tr>
  <tr>
    <td class="label">{$lang.order_id}：</td>
    <td>{$info.order_id}</td>
  </tr>
    <tr>
        <td class="label">{$lang.content}：</td>
        <td>{$info.content}</td>
    </tr>
  <tr>
    <td class="label">{$lang.createAt}：</td>
    <td>{$info.createAt}</td>
  </tr>
    <tr>
        <td class="label">{$lang.state}{$lang.require_field}</td>
        <td id="state">
            <span>
                {if $info.state == 0}
                    {$lang.not_deal}&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="state_a" listid="{$info.id}" style="text-decoration: underline;color: red; ">{$lang.deal}</a>
                {elseif $info.state == 1}
                   {$lang.success_complaint}
                {/if}
            </span>
        </td>
    </tr>
    <tr class="td-remark" {if $info.state == 0} style='display:none'{/if}>
        <td class="label">{$lang.remark}：</td>
        <td class="tdremark">
            <textarea name="remark" id="remark" cols="60" rows="5" style="border: none;" readonly>{$info.remark|escape}</textarea>
        </td>
    </tr>
</table>
    <div class="button-div" {if $info.state == 0} style='display:none'{/if}>
        <input type="hidden" name="act" value="edit_remark" />
        <input type="hidden" name="old_title" value="{$article.title}"/>
        <input type="hidden" name="id" value="{$info.id}" />
        <input type="button" value="{$lang.m_remark}" id="m_remark" class="button" />
        <input type="submit" value="{$lang.b_submit}" class="button" />
        {if $info.state == 1}<input type="reset" value="{$lang.button_reset}" class="button" />{/if}
    </div>
</form>
</div>
<div class="modal" id="zj-modal" style="display: none;">
    <div class="modal-bg">
        <div class="modal-head">
            <a class="modal-return" href="javascript:;"><</a>
            <div class="modal-title">备注</div>
            <a class="modal-close" href="javascript:;">X</a>
        </div>
        <div class="modal-content">
            <div class="modal-tip">{$lang.addremark}</div>
            <div class="modal-form"><textarea name="remark" id="remarknew" cols="40" rows="5" ></textarea></div>
        </div>
        <div class="modal-footer modal-buttons">
            <a href="#" class="button btn-confirm">确认</a>
            <a href="#" class="button btn-cancel">取消</a>
        </div>
    </div>
</div>
<div id="zj-modal-bg" class="panel-bg"></div>
{insert_scripts files="../js/utils.js,validator.js"}
<script src="../js/WebCalendar.js" type="text/javascript"></script>
<script language="JavaScript">
$(function(){
    $('.state_a').click(function(){
        $('#zj-modal').show();
        $('#zj-modal-bg').show();
    });
    $('.btn-confirm').click(function(){
        $('#zj-modal').hide();
        $('#zj-modal-bg').hide();
        var remark1 = $('#remarknew').val();
        update_state('{$info.id}',remark1);
    });
    $('.btn-cancel, .modal-close').click(function(){
        $('#remark').val('');
        $('#zj-modal').hide();
        $('#zj-modal-bg').hide();
    });
    $('#m_remark').click(function(){
        $('#remark').attr('style','');
        $('#remark').removeAttr('readonly');
    });
    function update_state(id,remark1){
        $.ajax({
            'type':'post',
            'dataType':'text',
            'data':{comid:id,remark:remark1},
            'url':'complaint.php?act=state',
            'success':function(msg){
                msg = $.parseJSON(msg);
                if(msg.state == 1){
                    $('#state').text('{$lang.success_complaint}');
                    $('.td-remark').show();
                    $('#remark').val(msg.remark);
                    $('.button-div').show();
                    $('#remarknew').val('');
                }
            }
        });
    }
});



{literal}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}

</script>
{include file="pagefooter.htm"}