<!-- $Id: article_info.htm 2014-09-03 xy $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js"}
<!-- start goods form -->
<div class="tab-div">
    <div id="tabbar-div">
            <span class="tab-back" id="detail-tab">{$lang.tab_content}</span>
    </div>

    <div id="tabbody-div">
        <form  action="credit_intrinfo.php" method="post" enctype="multipart/form-data" id="myform" name="theForm" onsubmit="return validate()">
            <table width="90%" id="detail-table">
                <tr><td>{$FCKeditor}</td></tr>
            </table>

            <div class="button-div">
                <input type="hidden" name="act" value="{$form_action}" />
                <input type="hidden" name="id" value="{$credit.id}" />
                <input type="submit" value="{$lang.button_submit}" class="button" />
                <input type="reset" value="{$lang.button_reset}" class="button" />
            </div>
        </form>
    </div>

</div>
<!-- end goods form -->
<script language="JavaScript">

{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

function validate()
{
    return true;
}
</script>

{include file="pagefooter.htm"}