{if $full_page}
{include file="pageheader.htm"}
{/if}
        
<div class="ArrList">
    <a href="helpcentercat.php?act=list">帮助中心分类</a>
    <a href="noticecat.php?act=list">商城公告分类</a>
    <a href="wrnewscat.php?act=list">物融新闻分类</a>
    <a href="helpcenter.php?act=list">帮助中心列表</a>
    <a href="notice.php?act=list">商城公告列表</a>
    <a href="wrnews.php?act=list">物融新闻列表</a>
    <a href="ads.php?act=list">广告列表</a>
</div>

{if $full_page} 
<script language="JavaScript">
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

</script>
{/literal}

{include file="pagefooter.htm"}
{/if}