<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="styles/general.css" rel="stylesheet" type="text/css" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    {insert_scripts files="../js/transport.js,common.js"}
    <script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
    <script src="../js/jquery.json.js" type="text/javascript" ></script>
    <script language="JavaScript">
        {literal}
        $(function() {
            window.__Object_toJSONString = Object.prototype.toJSONString;
            delete Object.prototype.toJSONString;
        });
        {/literal}
        <!--
// 这里把JS用到的所有语言都赋值到这里
        {foreach from=$lang.js_languages key=key item=item}
        var {$key} = "{$item}";
        {/foreach}
        //-->
    </script>
</head>
<body>

<div class="menuzero">
    <div class="menuone">
        {foreach from=$menus item=menu key=k}
        <div class="menutwo">
            <div class="icon_00 icon_{$k}"></div>
            <div class="menuname1">{$menu.label}</div>
            <div class="triangle"></div>
            <div class="menudetail">
            {if $menu.children}
            <ul>
                {foreach from=$menu.children item=child}
                <a href="{$child.action}" target="main-frame" style="text-decoration:none;"><div class="menudetailone">{$child.label}</div></a>
                {/foreach}
            </ul>
            {/if}
            </div>
        </div>
        {/foreach}
    </div>
</div>

<div style="width:86%;padding-left:10px;float:left;">
<h1>
    {if $action_link}
    <span class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></span>
    {/if}
    {if $action_link2}
    <span class="action-span"><a href="{$action_link2.href}">{$action_link2.text}</a>&nbsp;&nbsp;</span>
    {/if}
    <span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
    <span id="search_id" class="action-span1">{if $ur_here} - {$ur_here} {/if}</span>
    <div style="clear:both"></div>
</h1>