{include file="pageheader.htm"}
<div class="list-div">
    <table cellspacing='1' cellpadding='3'>
        <tr>
            <th colspan="4" class="group-title">{$lang.system_info}</th>
        </tr>
        <tr>
            <td width="20%">{$lang.os}</td>
            <td width="30%">{$sys_info.os} ({$sys_info.ip})</td>
            <td width="20%">{$lang.web_server}</td>
            <td width="30%">{$sys_info.web_server}</td>
        </tr>
        <tr>
            <td>{$lang.php_version}</td>
            <td>{$sys_info.php_ver}</td>
            <td>{$lang.mysql_version}</td>
            <td>{$sys_info.mysql_ver}</td>
        </tr>
        <tr>
            <td>{$lang.safe_mode}</td>
            <td>{$sys_info.safe_mode}</td>
            <td>{$lang.safe_mode_gid}</td>
            <td>{$sys_info.safe_mode_gid}</td>
        </tr>
        <tr>
            <td>{$lang.socket}</td>
            <td>{$sys_info.socket}</td>
            <td>{$lang.timezone}</td>
            <td>{$sys_info.timezone}</td>
        </tr>
        <tr>
            <td>{$lang.gd_version}</td>
            <td>{$sys_info.gd}</td>
            <td>{$lang.zlib}</td>
            <td>{$sys_info.zlib}</td>
        </tr>
        <tr>
            <td>{$lang.ip_version}</td>
            <td>{$sys_info.ip_version}</td>
            <td>{$lang.max_filesize}</td>
            <td>{$sys_info.max_filesize}</td>
        </tr>
    </table>
</div>
{literal}
{insert_scripts files="../js/utils.js"}
<script type="text/javascript">
    <!--
    onload = function()
    {
        /* 检查订单 */
        startCheckOrder();
    }
    //-->
</script>
{/literal}
{include file="pagefooter.htm"}