body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:8px;
  width:912px;
  height:242px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:242px;
}
#u1 {
  position:absolute;
  left:2px;
  top:113px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:416px;
  top:580px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:10px;
  top:274px;
  width:917px;
  height:281px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:122px;
  top:0px;
  width:334px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:456px;
  top:0px;
  width:126px;
  height:30px;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:582px;
  top:0px;
  width:330px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:122px;
  top:30px;
  width:334px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:456px;
  top:30px;
  width:126px;
  height:30px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:582px;
  top:30px;
  width:330px;
  height:30px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:122px;
  top:60px;
  width:334px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:456px;
  top:60px;
  width:126px;
  height:30px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:582px;
  top:60px;
  width:330px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:122px;
  top:90px;
  width:334px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:456px;
  top:90px;
  width:126px;
  height:30px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:582px;
  top:90px;
  width:330px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:122px;
  top:120px;
  width:334px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:456px;
  top:120px;
  width:126px;
  height:30px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:582px;
  top:120px;
  width:330px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:150px;
  width:122px;
  height:30px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:122px;
  top:150px;
  width:334px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:456px;
  top:150px;
  width:126px;
  height:30px;
  text-align:right;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:582px;
  top:150px;
  width:330px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:180px;
  width:122px;
  height:36px;
  text-align:right;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:122px;
  top:180px;
  width:334px;
  height:36px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:36px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:456px;
  top:180px;
  width:126px;
  height:36px;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:582px;
  top:180px;
  width:330px;
  height:36px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:216px;
  width:122px;
  height:30px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:122px;
  top:216px;
  width:334px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:456px;
  top:216px;
  width:126px;
  height:30px;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:582px;
  top:216px;
  width:330px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:246px;
  width:122px;
  height:30px;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:122px;
  top:246px;
  width:334px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:456px;
  top:246px;
  width:126px;
  height:30px;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:582px;
  top:246px;
  width:330px;
  height:30px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:140px;
  top:311px;
  width:30px;
  height:16px;
}
#u77 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u76_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78 {
  position:absolute;
  left:200px;
  top:311px;
  width:30px;
  height:16px;
}
#u79 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u78_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80 {
  position:absolute;
  left:597px;
  top:337px;
  width:200px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u81 {
  position:absolute;
  left:137px;
  top:367px;
  width:200px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:137px;
  top:397px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:137px;
  top:427px;
  width:200px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u84 {
  position:absolute;
  left:137px;
  top:462px;
  width:200px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:597px;
  top:367px;
  width:200px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:597px;
  top:397px;
  width:200px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:597px;
  top:427px;
  width:200px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:597px;
  top:462px;
  width:200px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:597px;
  top:277px;
  width:200px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u90 {
  position:absolute;
  left:25px;
  top:640px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:10px;
  top:659px;
  width:912px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:895px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:912px;
  height:1px;
}
#u93 {
  position:absolute;
  left:336px;
  top:699px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:408px;
  top:694px;
  width:200px;
  height:25px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:350px;
  top:745px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:408px;
  top:740px;
  width:200px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:294px;
  top:790px;
  width:113px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:408px;
  top:785px;
  width:200px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:25px;
  top:920px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:10px;
  top:939px;
  width:912px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:895px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:912px;
  height:1px;
}
#u105 {
  position:absolute;
  left:416px;
  top:850px;
  width:100px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u106 {
  position:absolute;
  left:324px;
  top:980px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:408px;
  top:975px;
  width:200px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  position:absolute;
  left:342px;
  top:1025px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:408px;
  top:1020px;
  width:110px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:528px;
  top:1020px;
  width:80px;
  height:25px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:416px;
  top:1070px;
  width:100px;
  height:25px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
