<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 订单列表</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1"> - 订单列表</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="search_form">
		<div class="form-div">
			<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
			<labe>订单编号：</labe>
			<input type="text" name="order_sn" />
			&nbsp;
			<labe>商品名称：</labe>
			<input type="text" name="goods_name"/>
			&nbsp;
			<labe>状态：</labe>
			<select name="status" id="status"></select>
			&nbsp;
		</div>
		<div class="form-div">
			<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
			<labe>订单日期：</labe>
			<input type="text" name="due_date1" id="due_date1" readonly="readonly">
			&nbsp;到&nbsp;
			<input type="text" name="due_date2" id="due_date2" readonly="readonly">
			&nbsp;
			<input type="button" class="button" value="搜索" onclick="Supplier.getList('search');">
		</div>
		</form>
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1" id="main_list">
				<thead>
				<tr>
					<th>订单编号</th>
					<th>商品名称</th>
					<th>商品编号</th>
					<th>规格/牌号/属性</th>
					<th>单价</th>
					<th>数量</th>
					<th>物流费</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<!-- 分页 -->
		<div id="paginate"></div>
		
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/laydate/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/supplier.js" type="text/javascript" ></script>
<script type="text/javascript">
$(document).ready(function(){
	laydate({
        elem: '#due_date1'
    });
	laydate({
        elem: '#due_date2'
    });
});
TypeMode.getOrderStatus("status");
Supplier.getList();
function first(){
	Supplier.limit = 0;
	Supplier.getList(true);
}
function next(){
	Supplier.current_page = Supplier.current_page + 1;
	Supplier.limit = (Supplier.current_page - 1)*Supplier.offset;
	Supplier.getList(true);
}
function prev(){
	Supplier.current_page = Supplier.current_page - 1;
	Supplier.limit = (Supplier.current_page - 1)*Supplier.offset;
	Supplier.getList(true);
}
function last(){
	Supplier.current_page = Supplier.total_page;
	Supplier.limit = (Supplier.current_page - 1)*Supplier.offset;
	Supplier.getList(true);
}
</script>
	</body>
</html>