<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 应收单生成页</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1"> - 应收单生成页</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="list-div" id="listDiv">
		<form>
			<table cellpadding="3" cellspacing="1" id="sale_order_list">
				<thead>
				<tr>
					<th>订单号</th>
					<th>物料编码</th>
					<th>物料名称</th>
					<th>牌号/规格/属性</th>
					<th>单价</th>
					<th>数量</th>
					<th>物流费</th>
					<th>金融费用</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody></tbody>
				<tfoot>
					<tr>
						<td colspan="15" style="text-align:right">订单数量：3 &nbsp;&nbsp; 合计金额：￥33655 元</td>
					</tr>
				</tfoot>
			</table>
		</form>
		</div>
		<!-- 分页 -->
		<div style="width:800px;margin:10px auto;" class="goods_type_list2">
			<div style="display:inline-block; width:40%;" class="inline">
				<h4>发票扫描件：</h4>
				<ul style="list-style:none;">
					<li>test&nbsp;<input type="button" class="button" value="上传">&nbsp;<input type="button" class="button" value="删除"></li>
					<li>test</li>
					<li>test</li>
				</ul>
			</div>
			<div style="display:inline-block; width:40%;">
				<h4>送货单扫描件：</h4>
				<ul style="list-style:none;">
					<li>test&nbsp;<input type="button" class="button" value="上传">&nbsp;<input type="button" class="button" value="删除"></li>
					<li>test2</li>
					<li>test3</li>
				</ul>
			</div>			
		</div>

		<div style="text-align:center;margin-top:10px;">
			<input type="button" class="button" value="提交" />&nbsp;
			<input type="button" class="button" value="返回" />
		</div>
		
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

		<!-- pop message -->
		<div id="popupLayer" class="messagepop pop">
		<div class="messagepop_header"><h4>取消订单</h4></div>
		<div class="clear"></div>
		<hr>
		<form id="cancel_form">
			<div style="color:#f00;text-align:center;"><span id="order_num"></span> 确认取消该订单？</div>
			<input type="hidden" name="order_id">
			<hr>
			<div align="center">
			<input type="button" class="button close" href="javascript:void(0)" onclick="SaleOrder.cancelOrder()" value=" 确认 "><input type="button" class="button close" href="javascript:void(0)" onclick="popupLayer()" value=" 关闭 ">
			</div>
		</form>
		</div>
		<div id="mask_layout"></div>

<script src="js/laydate/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/sale-order.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script type="text/javascript">
function first(){
	SaleOrder.limit = 0;
	SaleOrder.getList(true);
}
function next(){
	SaleOrder.current_page = SaleOrder.current_page + 1;
	SaleOrder.limit = (SaleOrder.current_page - 1)*SaleOrder.offset;
	SaleOrder.getList(true);
}
function prev(){
	SaleOrder.current_page = SaleOrder.current_page - 1;
	SaleOrder.limit = (SaleOrder.current_page - 1)*SaleOrder.offset;
	SaleOrder.getList(true);
}
function last(){
	SaleOrder.current_page = SaleOrder.total_page;
	SaleOrder.limit = (SaleOrder.current_page - 1)*SaleOrder.offset;
	SaleOrder.getList(true);
}
</script>
	</body>
</html>