<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 采购额度分配单（现金）</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 采购额度分配单（现金）</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="list-note">
			<form id="BillAssign_purchase_form">
			<table cellpadding="0" cellspacing="1"  id="BillAssign_purchase_assign_list">
				<thead>
				<tr>
					<td colspan="20">
					<span class="head">客户号：<span id="customer_id"></span></span>
					<span class="head">客户名称：<span id="user_name"></span></span>
					<span class="head">客户可分配总额度：<span id="amount_valid"></span></span>
					<span class="head">历史总采购额度：<span id="amount_history"></span></span>
					</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
			</form>
			<div class="button-center"><input type="button" class="button" value=" 确定分配 " onclick="BillAssignAssign.getCreateMulti(1)"></div>
		</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/bill-assign.js" type="text/javascript" ></script>
<script type="text/javascript">
BillAssignAssign.getList(1);
function checktotal(){
	var amount_valid = parseFloat($("#amount_valid").text());
	var total = 0;
	$("#BillAssign_purchase_form input[type=text]").each(function(index, element){
		if($(element).val() != ""&&isNumeric($(element).val())){
			var ajust_amount = parseFloat($(element).val());
			total = total + ajust_amount;
			contract_id = $(element).next("input").val()
			var BillAssign_amount_valid = parseFloat($("#BillAssign_amount_valid"+contract_id).text());

			$("#total"+contract_id).text(ajust_amount + BillAssign_amount_valid)
		}
	});
	if(total > amount_valid){
		$('#message_area').html(createError('客户可用总额不足分配'));
		return false;
	}else{
		$('#message_area').html('');
	}
}

function first(){
	BillAssign.current_page = 1;
	BillAssign.limit = 0;
	BillAssign.getList(1);
}
function next(){
	BillAssign.current_page = BillAssign.current_page + 1;
	BillAssign.limit = (BillAssign.current_page - 1)*BillAssign.offset;
	console.log(BillAssign.limit)
	BillAssign.getList(1);
}
function prev(){
	BillAssign.current_page = BillAssign.current_page - 1;
	BillAssign.limit = (BillAssign.current_page - 1)*BillAssign.offset;
	BillAssign.getList(1);
}
function last(){
	BillAssign.current_page = BillAssign.total_page;
	BillAssign.limit = (BillAssign.current_page - 1)*BillAssign.offset;
	BillAssign.getList(1);
}
</script>
	</body>
</html>