<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 票据偿还单列表</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 票据偿还单列表</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="search_form">
		<div class="form-div">
			<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
			<labe>客户：</labe>
			<input type="text" name="user_name">
			<labe>生成日期：</labe>
			<input type="text" id="due_date1" name="due_date1" readonly>
			&nbsp;至&nbsp;
			<input type="text" id="due_date2" name="due_date2" readonly>
			&nbsp;
			<input type="button" class="button" value="搜索" onclick="BillRepay.getList(true)" />
		</div>
		</form>
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1" id="bill_repay_list">
				<thead><tr>
					<th>ID</th>
					<th>单据状态</th>
					<th>创建人</th>
					<th>创建日期</th>
					<th>修改人</th>
					<th>修改日期</th>
					<th>审核日期</th>
					<th>审核人</th>
					<th>币别</th>
					<th>客户</th>
					<th>扣减金额</th>
					<th>恢复日期</th>
					<th>操作</th>
				</tr></thead>
				<tbody></tbody>
			</table>
		</div>
		<!-- 分页 -->
		<div id="paginate"></div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="http://www.jq22.com/demo/laydate-master-141126210932/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/bill-repay.js" type="text/javascript" ></script>
<script type="text/javascript">
$(document).ready(function(){
	laydate({
        elem: '#due_date1'
    });
	laydate({
        elem: '#due_date2'
    });
});
BillRepay.getList();
function first(){
	BillRepay.limit = 1;
	BillRepay.getList();
}
function next(){
	BillRepay.limit = BillRepay.limit + 1;
	BillRepay.getList();	
}
function prev(){
	BillRepay.limit = BillRepay.limit - 1;
	BillRepay.getList();
}
function last(){
	BillRepay.limit = BillRepay.total_page - 1;
	BillRepay.getList();
}
</script>
	</body>
</html>