<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 采购额度调整单</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1"> - 采购额度调整单</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="table_info">
			<form id="adjust_form">
			<table>
				<thead>
					<tr>
						<th colspan="2">调整对象</th>
						<th colspan="2">分配对象</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>合同编号：</td>
						<td><select name="from_contract_id" onchange="BillAjust.getAddInitAction()"></select></td>
						<td>合同编号：</td>
						<td><select name="to_contract_id" onchange="BillAjust.getAddInitAction()"></select></td>
					</tr>
					<tr>
						<td>账户类型：</td>
						<td><select name="type" id="from_type" onchange="BillAjust.getAddInitAction()"></select></td>
						<td>账户类型：</td>
						<td><select id="to_type" disabled="disabled"></select></td>
					</tr>
					<tr>
						<td>可用余额：</td><td id="from_amount_valid"></td>
						<td>可用余额：</td><td id="to_amount_valid"></td>
					</tr>
					<tr>
						<td>调整额度：</td><td><input type="text" name="from_ajust_amount" id="from_ajust_amount" data-rule-required="true" data-rule-number="true" value="0" />元</td>
						<td>调整额度：</td><td><input type="text" id="to_ajust_amount" readonly="readonly" /></td>
					</tr>
					<tr>
						<td colspan="4">大写（RMB）：<span id="captial_currency"></span></td>
					</tr>
					<tr>
						<td>剩余额度：</td><td id="from_remain_amount"></td>
						<td>剩余额度：</td><td id="to_remain_amount"></td>
					</tr>
					<tr>
						<td>操作时间：</td><td><input type="text" readonly="readonly" value="test" ></td>
						<td>操作人：</td><td><input type="text" readonly="readonly" value="test" ></td>
					</tr>
					<tr>
						<td>审核人：</td><td><input type="text" readonly="readonly" value="test" ></td>
						<td>状态：</td><td>未确定</td>
					</tr>
				</tbody>
			</table>
			</form>
			<div align="center"><input type="button" class="button" value=" 确认 " onclick="BillAjust.getCreateAction()"></div>
		</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/bill-ajust.js" type="text/javascript" ></script>
<script type="text/javascript">
BillAjust.getAddInitAction();
$("#adjust_form").validate();
$('#from_ajust_amount').on('valuechange', function (e, previous) {
	if($('select[name=from_contract_id]').val() == $('select[name=to_contract_id]').val()){
		$('#message_area').html(createError('合同编号重复'));
		return false;
	}
	var from_amount_valid = parseFloat($("#from_amount_valid").text());
	var from_ajust_amount = parseFloat($("#from_ajust_amount").val());
	var to_amount_valid = parseFloat($("#to_amount_valid").text());
	if(from_ajust_amount > from_amount_valid){
		$('#message_area').html(createError('可用额度不足'));
		return false;
	}else{
		$('#message_area').html(createError(''));
		$('#to_ajust_amount').val(from_ajust_amount);
		$('#from_remain_amount').text(from_amount_valid - from_ajust_amount);
		$('#to_remain_amount').text(to_amount_valid + from_ajust_amount);
		piliskys('from_ajust_amount','captial_currency');
	}
});
</script>
	</body>
</html>