<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 采购额度生成单（现金）</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 采购额度生成单（现金）</span>
		<div style="clear:both"></div>
		</h1>
		<div class="table_info">
			<form>
			<table>
				<thead>
					<tr>
						<th colspan="6"> 采购额度生成单（现金） </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">来往单位：</td>
						<td><select name=""></select></td>
						<td class="title">单据类型：</td>
						<td><select name=""></select></td>
					</tr>
					<tr>
						<td class="title">录入金额：</td>
						<td colspan="3"><input type="text" name="" value="5000"></td>
					</tr>
					<tr>
						<td class="title">备注:</td>
						<td colspan="3"><textarea></textarea></td>
					</tr>
				</tbody>
			</table>
			</form>
			<div align="center"><input type="button" class="button" value=" 添加 "></div>
		</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>
	</body>
</html>