<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 票据查看</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
	{include file="pagemenu.htm"}
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1"> - 票据查看</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="table_info">
			<form id="bill_edit_form">
			<table cellspacing="1" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td class="title">票据编号：</td>
						<td id="bill_num"></td>
						<td class="title">票据类型：</td>
						<td id="bill_type"></td>
						<td class="title">币别：</td>
						<td id="currency"></td>
						<td class="title">票面金额：</td>
						<td id="bill_amount"></td>
					</tr>
					<tr>
						<td class="title">客户号：</td>
						<td id="customer_num"></td>
						<td class="title">合同编号：</td>
						<td id="contract_id"></td>
						<td class="title">付款利率(%)：</td>
						<td id="payment_rate"></td>
						<td class="title">到期金额：</td>
						<td id="expire_amount"></td>
					</tr>
					<tr>
						<td class="title">签发日：</td>
						<td id="issuing_date"></td>
						<td class="title">到期日：</td>
						<td id="due_date"></td>
						<td class="title">付款期限：</td>
						<td id="prompt_day"></td>
						<td class="title">出票人：</td>
						<td id="drawer"></td>
					</tr>
					<tr>
						<td class="title">承兑人：</td>
						<td id="acceptor"></td>
						<td class="title">承兑协议编号：</td>
						<td id="accept_num"></td>
						<td class="title">承兑日期：</td>
						<td id="accept_date"></td>
						<td class="title">备注：</td>
						<td id="remark"></td>
					</tr>
					<tr>
						<td class="title">往来单位：</td>
						<td id="customer_name"></td>
						<td class="title">收票日：</td>
						<td id="receive_date"></td>
						<td class="title">交易金额：</td>
						<td id="trans_amount"></td>
						<td class="title">销售人员：</td>
						<td id="saler"></td>
					</tr>
					<tr>
						<td class="title">收款组织：</td>
						<td id="receiver"></td>
						<td class="title">结算组织：</td>
						<td id="balance"></td>
						<td class="title">票据折算比例：</td>
						<td id="discount_rate">%</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td class="title">ID：</td>
						<td id="bill_id"></td>
						<td class="title">票据状态：</td>
						<td id="status"></td>
						<td class="title">折后额度：</td>
						<td id="discount_amount"></td>
						<td class="title">带追索权：</td>
						<td id="is_recourse"></td>
					</tr>
					<tr>
						<td class="title">审核状态：</td>
						<td id="review_status"></td>
						<td class="title">审核人：</td>
						<td id="review_user"></td>
						<td class="title">审核时间：</td>
						<td id="review_time" colspan="2"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table cellspacing="1" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td class="title">付款人：</td>
						<td id="pay_user"></td>
						<td class="title">收款人：</td>
						<td id="receive_user"></td>
					</tr>
					<tr>
						<td class="title">付款银行：</td>
						<td id="pay_bank"></td>
						<td class="title">收款银行：</td>
						<td id="receive_bank"></td>
					</tr>
					<tr>
						<td class="title">付款账号：</td>
						<td id="pay_account"></td>
						<td class="title">收款账号：</td>
						<td id="receive_account"></td>
					</tr>
				</tbody>
			</table>
			</form>
			<div id="handle_button" align="center">
				<input type="button" class="button" value=" 返回 " onclick="history.back()">
				<span></span>
			</div>
		</div>
	</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/laydate/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/bill.js" type="text/javascript" ></script>
<script type="text/javascript">
Bill.getView();
</script>
	</body>
</html>