<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 票据列表</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 票据列表</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="search_form">
		<div class="form-div">
			<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
			<labe>搜索类型：</labe>
			<select name="search_type">
				<option value="bill_num">票据编号</option>
				<option value="drawer">出票人</option>
				<option value="acceptor">承兑人</option>
			</select>
			&nbsp;
			<input type="text" name="search_value">
			&nbsp;
			<labe>票据状态：</labe>
			<select name="status">
				<option value="">全部</option>
				<option value="0">未还</option>
				<option value="1">已还</option>
			</select>
		</div>
		<div class="form-div">
			<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
			<labe>日期：</labe>
			<input type="text" name="due_date1" id="due_date1" readonly>
			&nbsp;至&nbsp;
			<input type="text" name="due_date2" id="due_date2" readonly>
			&nbsp;
			<input type="button" class="button" value="搜索" onclick="Bill.getList(true)" />
		</div>
		</form>
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1" id="bill_list">
				<thead><tr>
					<th>ID</th>
					<th>票据类型</th>
					<th>票据号</th>
					<th>到期日</th>
					<th>票面金额</th>
					<th>往来单位</th>
					<th>出票人</th>
					<th>承兑人</th>
					<th>审核状态</th>
					<th>还票状态</th>
					<th>操作</th>
				</tr></thead>
				<tbody></tbody>
			</table>
		</div>
		<!-- 分页 -->
		<div id="paginate"></div>

		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/laydate/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/Bill.js" type="text/javascript" ></script>
<script type="text/javascript">
$(document).ready(function(){
	laydate({
        elem: '#due_date1'
    });
	laydate({
        elem: '#due_date2'
    });
});
Bill.getList();
function first(){
	Bill.current_page = 1;
	Bill.limit = 0;
	Bill.getList(true);
}
function next(){
	Bill.current_page = Bill.current_page + 1;
	Bill.limit = (Bill.current_page - 1)*Bill.offset;
	Bill.getList(true);
}
function prev(){
	Bill.current_page = Bill.current_page - 1;
	Bill.limit = (Bill.current_page - 1)*Bill.offset;
	Bill.getList(true);
}
function last(){
	Bill.current_page = Bill.total_page;
	Bill.limit = (Bill.current_page - 1)*Bill.offset;
	Bill.getList(true);
}
</script>
	</body>
</html>