<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 票据偿还单详细</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
	{include file="pagemenu.htm"}
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 票据偿还单详细</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="table_info">
			<table>
				<thead>
					<tr>
						<th colspan="6"> 票据偿还单详细</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">票据编号：</td><td id="bill_num"></td>
						<td class="title">票据金额：</td><td id="need_repay"></td>
						<td class="title">到期日：</td><td id="due_date"></td>
					</tr>
					<tr>
						<td class="title">还票日期：</td><td id="receive_date"></td>
						<td class="title">还票金额：</td><td id="repay_amount"></td>
						<td class="title">还票人：</td><td id="customer_name"></td>
					</tr>
					<tr>
						<td class="title">操作日期：</td><td id="create_time"></td>
						<td class="title">操作人：</td><td id="user_name"></td>
						<td class="title">审核日期：</td><td></td>
					</tr>
					<tr>
						<td class="title">审核人：</td><td id="user_name"></td>
						<td class="title">操作备注：</td><td></td>
						<td class="title">审核备注：</td><td id="remark"></td>
					</tr>
				</tbody>
			</table>
			<div align="center"><input name="button" type="button" class="button" onclick="history.back()" value=" 返回 "></div>
		</div>
	</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/bill-repay.js" type="text/javascript" ></script>
<script type="text/javascript">
BillRepay.getEditInit();
</script>
	</body>
</html>