<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 授信单详情</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 授信单详情</span>
		<div style="clear:both"></div>
		</h1>
		<div class="table_info">
			<table>
				<tbody>
					<tr>
						<td>单据编号：<span id="">123456</span></td>
						<td>单据日期：<span id="">2015/10/12</span></td>
						<td>单据状态：<span id="">暂存</span></td>
					</tr>
					<tr>
						<td>公司：<span id="">中铁四局</span></td>
						<td>客户：<span id="">中通快递</span></td>
						<td>授信额度：<span id="">300，000</span></td>
					</tr>
					<tr>
						<td>授信状态：<span id="">正常</span></td>
						<td>授信银行：<span id="">浙商银行</span></td>
						<td>授信结束日期：<span id="">2015/10/10</span></td>
					</tr>
					<tr>
						<td>授信银行号：<span>1234</span></td>
						<td>客户银行账号：<span>123456</span></td>
						<td>备注: <input type="text" ></td>
					</tr>
				</tbody>
			</table>
			<div align="center"><input name="query" type="submit" class="button" value=" 保存 "></div>
		</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>
	</body>
</html>