<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 授信单列表</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
	{include file="pagemenu.htm"}
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 授信单列表</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="file_form">
		<div class="form-div">
			<select id="xml_field" data-rule-required="true">
				<option value="">选择授信文件</option>
			</select>
			<input type="file" id="credit_file" name="credit_file" data-rule-required="true" data-msg-required="请选择文件">
			<input type="button" class="button" value="上传文件" onclick="Credit.getUploadFile()" />
		</div>
		</form>		
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1" id="credit_list">
				<thead>
				<tr>
					<th>额度协议号</th>
					<th>客户号</th>
					<th>客户名</th>
					<th>额度金额</th>
					<th>剩余额度</th>
					<th>授信状态</th>
					<th>开始日期</th>
					<th>到期日期</th>
					<th>登记机构</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<!-- 分页 -->
		<div id="paginate"></div>
	</div>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/ajaxfileupload.js" type="text/javascript" ></script>
<script src="js/credit.js" type="text/javascript" ></script>
<script type="text/javascript">
Credit.getOptionXml();
Credit.getList();
function first(){
	Credit.current_page = 1;
	Credit.limit = 0;
	Credit.getList(true);
}
function next(){
	Credit.current_page = Credit.current_page + 1;
	Credit.limit = (Credit.current_page - 1)*Credit.offset;
	Credit.getList(true);
}
function prev(){
	Credit.current_page = Credit.current_page - 1;
	Credit.limit = (Credit.current_page - 1)*Credit.offset;
	Credit.getList(true);
}
function last(){
	Credit.current_page = Credit.total_page;
	Credit.limit = (Credit.current_page - 1)*Credit.offset;
	Credit.getList(true);
}
</script>
	</body>
</html>