<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 授信单详情</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 授信单详情</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="remark_form" onsubmit="return false;">
		<div class="table_info">
			<table>
				<thead>
					<tr>
						<th colspan="6"> 授信单详情 </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">单据编号：</td><td id="credit_id"></td>
						<td class="title">单据日期：</td><td id="add_time"></td>
						<td class="title"></td><td></td>
					</tr>
					<tr>
						<td class="title">公司：</td><td id="">中交物融</td>
						<td class="title">客户：</td><td id="customer_name"></td>
						<td class="title">授信额度：</td><td id="amount_all"></td>
					</tr>
					<tr>
						<td class="title">授信状态：</td><td id="credit_status"></td>
						<td class="title">授信银行：</td><td id="registration_name"></td>
						<td class="title">授信结束日期：</td><td id="end_time"></td>
					</tr>
					<tr>
						<td class="title">授信银行号：</td><td id="registration_num"></td>
						<td class="title">客户银行账号：</td><td id="customer_bank_num"></td>
						<td class="title">备注: </td><td id="remark"><input type="text" name="remark" data-rule-required="true" data-msg-required="请输入备注内容"></td>
					</tr>
				</tbody>
			</table>
			<div align="center">
				<input type="button" onclick="redirectToUrl(&quot;credit_manage.php?act=list&quot;)" value="返回列表" class="button">
				<input type="submit" class="button" value=" 保存 ">
			</div>
		</div>
		</form>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/credit.js" type="text/javascript" ></script>
<script type="text/javascript">
$(document).ready(function(){
	Credit.getCreditInfo();
	$("#credit_id").text(getQueryStringByName(id));
	$("#remark_form").validate({
		submitHandler: function(form) {
			Credit.getUpdateCreditRemark();
		}
	});
});
</script>
	</body>
</html>