<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 加价列表</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 加价列表</span>
		<div style="clear:both"></div>
		</h1>
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1">
				<tr>
					<th>物料编号</th>
					<th>物料名称</th>
					<th>物料类别</th>
					<th>规格</th>
					<th>型号</th>
					<th>供货商报价</th>
					<th>更新时间</th>
					<th>商城修改价格</th>
					<th>加价幅度</th>
					<th>加价方式</th>
					<th>操作</th>
					<th>审核状态</th>
				</tr>
				<tr>
					<td>00001</td>
					<td>螺纹钢HB</td>
					<td>螺纹</td>
					<td>45</td>
					<td>hb300</td>
					<td>3000</td>
					<td>2015/9/1</td>
					<td>3150</td>
					<td>150</td>
					<td>批量</td>
					<td><a href="demo_template.php?section=purchase_price_manage&act=batch">修改价格</a></td>
					<td>未审核</td>
				</tr>
				<tr>
					<td>00002</td>
					<td>螺纹钢2B</td>
					<td>螺纹</td>
					<td>45</td>
					<td>hb300</td>
					<td>3000</td>
					<td>2015/9/1</td>
					<td>3150</td>
					<td>150</td>
					<td>单个</td>
					<td><a href="demo_template.php?purchase_price_manage&act=single">修改价格</a></td>
					<td>未审核</td>
				</tr>
			</table>
		</div>
		<!-- 分页 -->
		<table id="page-table" cellspacing="0">
			<tr>
				<td align="right" nowrap="true">
					{include file="page.htm"}
				</td>
			</tr>
		</table>
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>
	</body>
</html>