<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 订单拆分操作</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 订单拆分操作</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<div class="list-note-2">
			<table cellpadding="3" cellspacing="1" id="bill_purchase_assign_list">
				<tr>
					<th>订单id：</th><td id="order_id"></td>
					<th>供应商id：</th><td id="suppliers_id"></td>
					<th>供应商：</th><td id="suppliers_name"></td>
					<th></th><td></td>
				</tr>
				<tr>
					<th>商品id：</th><td id="goods_id"></td>
					<th>商品编号：</th><td id="goods_sn"></td>
					<th>商品名：</th><td id="goods_name"></td>
					<th>规格/型号/材质：</th><td id="attr"></td>
				</tr>
			</table>
		</div>
		<div class="table_info">
			<form id="split_form">
			<table>
			<thead>
			<tr>
				<th colspan="20">拆单详情</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td class="title">未拆单数量：</td><td id="remain_number"></td>
					<td class="title">物料单价：</td>
					<td><input type="text" name="goods_price" id="goods_price" data-rule-required="true"></td>
					<td class="title">拆单数量：</td>
					<td><input type="text" id="send_number" name="send_number" data-rule-required="true" data-rule-number="true"></td>
				</tr>
				<tr>
					<td class="title">实际供应商：</td>
					<td><select name="suppliers" style="width:80px;" >
					</select></td>
					<td class="title">金融费用比率：</td>
					<td><input type="text" class="number" id="rate" name="rate" data-rule-required="true">%</td>
					<td class="title">物流费用：</td>
					<td><input type="text" id="shipping_fee" name="shipping_fee" data-rule-required="true" data-rule-number="true"></td>
				</tr>
				<tr>
					<td class="title">金融费用：</td>
					<td><input type="text" id="finance_fee" name="finance_fee" readonly="readonly"></td>
					<td class="title">发货总价：</td>
					<td><input type="text" id="total_amount" data-rule-required="true" data-rule-number="true" disabled="disabled"></td>
					<td class="title">支付方式：</td>
					<td><select name="pay_id"></select></td>
				</tr>
			</tbody>
			</table>
			</form>
		</div>
		<div align="center" id="handle_button">
			<input type="button" class="button" value=" 取消 " onclick="history.back()">
			<input type="hidden" name="contract_sn">
		</div>
		
		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/jquery.validate.js" type="text/javascript" ></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/sale-order.js" type="text/javascript" ></script>
<script type="text/javascript">
SaleOrder.setSplitInit();
$(document).ready(function(){
	$('#send_number').on('valuechange', function (e, previous) {
		if($(this).val()===""||!validateNumber($(this).val())){
			$('#message_area').html(createError('请输入数字'));
			return false;
		}else{
			$('#message_area').html('');
		}
		var	remain_number = validateNumber(parseFloat($("#remain_number").text())) == 0 ? 0 : parseFloat($("#remain_number").text());
		var	send_number = parseFloat($("#send_number").val());
		if(send_number>remain_number){
			$('#message_area').html(createError('拆分余数不足'));
			return false;
		}
		changeFinanceFee();
	});
	$('#goods_price').on('valuechange', function (e, previous) {
		changeFinanceFee();
	});
	$('#rate').on('valuechange', function (e, previous) {
		changeFinanceFee();
	});
	$('#shipping_fee').on('valuechange', function (e, previous) {
		changeTotalAmount();
	});
});
function changeFinanceFee(){
	var price = validateNumber(parseFloat($("#goods_price").val())) == 0 ? 0 : parseFloat($("#goods_price").val());
	var number = validateNumber(parseFloat($("#send_number").val())) == 0 ? 0 : parseFloat($("#send_number").val());
	var rate = validateNumber(parseFloat($("#rate").val())) == 0 ? 0 : parseFloat($("#rate").val());;
	var contract_sn = $("input[name=contract_sn]").val();
	SaleOrder.getFinaceFee(price, number, rate, contract_sn, 'changeTotalAmount');
}
function changeTotalAmount(finance){
	var goods_price = validateNumber(parseFloat($("#goods_price").val())) == 0 ? 0 : parseFloat($("#goods_price").val());
	var send_number = validateNumber(parseFloat($("#send_number").val())) == 0 ? 0 : parseFloat($("#send_number").val());
	var shipping_fee = validateNumber(parseFloat($("#shipping_fee").val())) == 0 ? 0 : parseFloat($("#shipping_fee").val());
	var finance_fee = finance;
	$("#finance_fee").val(finance);
	$("#total_amount").val(goods_price*send_number + shipping_fee + finance_fee);	
}
</script>
	</body>
</html>