<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$lang.cp_home} - 额度分配调整</title>
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/general.css" rel="stylesheet" type="text/css" />
		<link href="styles/main.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<h1>
		<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span>
		<span id="search_id" class="action-span1">- 额度分配调整</span>
		<div style="clear:both"></div>
		</h1>
		<div id="message_area"></div>
		<form id="search_form">
			<div class="form-div">
				<img width="26" border="0" height="22" alt="SEARCH" src="images/icon_search.gif">
				<labe>用户名：</labe>
				<input type="text" name="user_name"/>
				&nbsp;
				<labe>客户名称：</labe>
				<input type="text" name="customer_name"/>
				&nbsp;
				<labe>手机号码：</labe>
				<input type="text" name="mobile"/>
				&nbsp;
				<input type="button" class="button" value="查询" onclick="BillAjust.getList('search')">
			</div>
		</form>
		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1" id="user_list">
				<thead><tr>
					<th>ID</th>
					<th>客户号</th>
					<th>客户名称</th>
					<th>用户名</th>
					<th>用户邮箱</th>
					<th>用户手机</th>
					<th>操作</th>
				</tr></thead>
				<tbody></tbody>
			</table>
		</div>
		<!-- 分页 -->
		<div id="paginate"></div>

		<!-- 底部 -->
		<div id="footer">
			{$lang.copyright}
		</div>

<script src="js/laydate/laydate.dev.js"></script>
<script src="js/ajax.js" type="text/javascript" ></script>
<script src="js/type-mode.js" type="text/javascript" ></script>
<script src="js/bill-ajust.js" type="text/javascript" ></script>
<script type="text/javascript">
$(document).ready(function(){
	BillAjust.getList();
});
function first(){
	BillAjust.current_page = 1;
	BillAjust.limit = 0;
	BillAjust.getList(true);
}
function next(){
	BillAjust.current_page = BillAjust.current_page + 1;
	BillAjust.limit = (BillAjust.current_page - 1)*BillAjust.offset;
	BillAjust.getList(true);
}
function prev(){
	BillAjust.current_page = BillAjust.current_page - 1;
	BillAjust.limit = (BillAjust.current_page - 1)*BillAjust.offset;
	BillAjust.getList(true);
}
function last(){
	BillAjust.current_page = BillAjust.total_page;
	BillAjust.limit = (BillAjust.current_page - 1)*BillAjust.offset;
	BillAjust.getList(true);
}
</script>
	</body>
</html>