body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:25px;
  width:72px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:92px;
  top:22px;
  width:90px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3 {
  position:absolute;
  left:231px;
  top:25px;
  width:72px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:303px;
  top:20px;
  width:110px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:458px;
  top:24px;
  width:42px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:500px;
  top:20px;
  width:110px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:700px;
  top:20px;
  width:50px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:770px;
  top:20px;
  width:50px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:20px;
  top:70px;
  width:815px;
  height:65px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:172px;
  top:0px;
  width:174px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:346px;
  top:0px;
  width:375px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:721px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:172px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:172px;
  top:30px;
  width:174px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:346px;
  top:30px;
  width:375px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:721px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
