body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:93px;
  top:40px;
  width:112px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:108px;
  top:124px;
  width:82px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:121px;
  width:90px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:308px;
  top:124px;
  width:82px;
  height:1px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:390px;
  top:124px;
  width:110px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:538px;
  top:124px;
  width:52px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:590px;
  top:124px;
  width:110px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:740px;
  top:124px;
  width:50px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:810px;
  top:124px;
  width:50px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
