body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:46px;
  width:965px;
  height:101px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  text-align:right;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:111px;
  top:0px;
  width:209px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:320px;
  top:0px;
  width:105px;
  height:30px;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:425px;
  top:0px;
  width:215px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:211px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:640px;
  top:0px;
  width:130px;
  height:30px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:770px;
  top:0px;
  width:190px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:36px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:111px;
  top:30px;
  width:209px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:320px;
  top:30px;
  width:105px;
  height:36px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:425px;
  top:30px;
  width:215px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:640px;
  top:30px;
  width:130px;
  height:36px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:770px;
  top:30px;
  width:190px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:66px;
  width:111px;
  height:30px;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:111px;
  top:66px;
  width:209px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:320px;
  top:66px;
  width:105px;
  height:30px;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:425px;
  top:66px;
  width:215px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:211px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:640px;
  top:66px;
  width:130px;
  height:30px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:770px;
  top:66px;
  width:190px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:170px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:20px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:206px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:236px;
  top:206px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:574px;
  top:206px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:368px;
  top:206px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:91px;
  top:206px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:293px;
  top:206px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:439px;
  top:206px;
  width:89px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:645px;
  top:206px;
  width:117px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:274px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:111px;
  top:275px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:195px;
  top:274px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:305px;
  width:965px;
  height:41px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
  color:#000099;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:81px;
  top:0px;
  width:212px;
  height:36px;
  color:#000099;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:293px;
  top:0px;
  width:80px;
  height:36px;
  color:#000099;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:373px;
  top:0px;
  width:279px;
  height:36px;
  color:#000099;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:652px;
  top:0px;
  width:79px;
  height:36px;
  color:#000099;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:731px;
  top:0px;
  width:229px;
  height:36px;
  color:#000099;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:20px;
  top:340px;
  width:965px;
  height:65px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
  color:#000099;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:179px;
  top:0px;
  width:781px;
  height:30px;
  color:#000099;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:777px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:30px;
  width:179px;
  height:30px;
  color:#000099;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:179px;
  top:30px;
  width:781px;
  height:30px;
  color:#000099;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:777px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:527px;
  top:425px;
  width:100px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:300px;
  top:425px;
  width:100px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u87 {
  position:absolute;
  left:413px;
  top:425px;
  width:100px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:808px;
  top:206px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:907px;
  top:206px;
  width:73px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
