body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:75px;
  width:993px;
  height:133px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:166px;
  top:0px;
  width:117px;
  height:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:283px;
  top:0px;
  width:141px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:424px;
  top:0px;
  width:142px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:566px;
  top:0px;
  width:141px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:707px;
  top:0px;
  width:141px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:848px;
  top:0px;
  width:140px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:36px;
  width:166px;
  height:31px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:166px;
  top:36px;
  width:117px;
  height:31px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:283px;
  top:36px;
  width:141px;
  height:31px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:424px;
  top:36px;
  width:142px;
  height:31px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:566px;
  top:36px;
  width:141px;
  height:31px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:707px;
  top:36px;
  width:141px;
  height:31px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:848px;
  top:36px;
  width:140px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:67px;
  width:166px;
  height:31px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:166px;
  top:67px;
  width:117px;
  height:31px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:283px;
  top:67px;
  width:141px;
  height:31px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:424px;
  top:67px;
  width:142px;
  height:31px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:566px;
  top:67px;
  width:141px;
  height:31px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:707px;
  top:67px;
  width:141px;
  height:31px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:848px;
  top:67px;
  width:140px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:98px;
  width:166px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:166px;
  top:98px;
  width:117px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:283px;
  top:98px;
  width:141px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:424px;
  top:98px;
  width:142px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:566px;
  top:98px;
  width:141px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:707px;
  top:98px;
  width:141px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:848px;
  top:98px;
  width:140px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:12px;
  top:25px;
  width:79px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:91px;
  top:20px;
  width:103px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:224px;
  top:24px;
  width:66px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:291px;
  top:20px;
  width:103px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:426px;
  top:24px;
  width:66px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:493px;
  top:20px;
  width:103px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:623px;
  top:24px;
  width:66px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:920px;
  top:20px;
  width:80px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:690px;
  top:22px;
  width:106px;
  height:22px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
