.tuijian-title {
	font-size: 17px;
	color: #7CB333;
	height: 69px;
	line-height: 69px;
	border-bottom: 1px solid #EEEEEE;
	position: relative;
	padding: 0px 10px;
}
.tuijian-title button{
	font-size: 12px;
	position: absolute;
	right: 0px;
	color: #737373;
	border:1px solid #BFBFBF;
	background-color: #eeeeee;
	border-radius: 5px;
	width: 150px;
	height: 36px;
	top: 50%;
	margin-top: -18px;
}

.my-credit-info {
	padding:32px 0px;
}
.my-credit-info >div{
	float: left;
}
.m-c-i-btns button{
	height: 42px;
	border-radius: 5px;
}
.m-c-i-btns button:first-child{
	width: 117px;
}
.m-c-i-btns .gray-btn{
	width: 104px;
	border:1px solid #cacaca;
	background-color: #EEEEEE;
	color: #818181;
}
.m-c-i-btns button:last-child{
	width: 137px;
	background-color: #F04534;
}
.m-c-i-center{
	border-left: 1px solid #E6E6E6;
	margin:0px 25px;
}
.m-c-i-center tr{
	height: 50px;
}
.m-c-i-center .gray-span{
	text-align: right;
	width: 155px;
}
.m-c-i-center .money{
	text-align: left;
	width: 100px;
}
.m-c-i-right{
	width: 150px;
	margin-top: 10px;
}
.m-c-i-right .green-btn{
	width: 150px;
	height: 42px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.m-c-i-right .green-btn:last-child{
	margin-bottom: 0px;
}
.orage-btn{
	background-color: #F99209;
}
.blue-btn{
	background-color: #1C94E0;
}
.m-c-i-info{
	position: relative;
}
.m-c-i-info .show-icon{
	margin: 20px 10px;
	line-height: 0px;
	height: 95px;
	float: left;
}
.m-c-i-info .m-c-i-text{
	float: left;
	margin: 20px 10px;
}
.m-c-i-text >div{
	line-height: 30px;
}
.m-c-i-text >div:first-child{
	font-size: 16px;
}
.project-tuijian {

}
.product-tuijian,
.project-tuijian,
.my-credit-info{
	padding-left:25px;
	padding-right:25px;
}
.product-tuijian li{
	float: left;
	margin-right: 20px;
}
.product-tuijian .tuijian-title {
	color: #737373;
}
.product-tuijian li:last-child{
	margin-right: 0px;
}
.product-border{
	width: 272px;
}
.product-border .product-name {
	background: #ffffff;
	height: 50px;
	line-height: 50px;
	padding-left: 17px;
}
.product-border .product-img {
	float: none;
	width: 272px;
	border-bottom: 1px solid #eeeeee;
}
.product-border .products-img img{
	width: 100%;
	/*height: 200px;*/
}
.product-border .product-infos{
	padding:20px 0; 
}
.product-infos .product-price{
	padding-bottom:10px;
	padding-left: 20px;
}
.product-price .vip,
.product-price .defat{
	float: left;
}
.product-price .vip {
	border-right: 1px solid #e2e2e2;
	float: left;
	padding-right: 15px;
	margin-right: 15px;
}
.product-price .vip label,
.product-price .defat label {
	height: 24px;
	width: 66px;
	line-height: 24px;
	background: #eb3b42;
	color: #fff;
	font-size: 12px;
	display: block;
	border-radius: 5px;
	margin-bottom: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	text-align: center;
}
.product-price .defat label{
	background-color: #626D89;
}
.fcolor {
	font-size: 15px;
}
.product-operate{
	text-align: center;
}
.product-operate button{
	height: 35px;
	border: none;
	font-size: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #fff;
}
.product-operate .collect-product{
	width: 100px;
	background: url(../images/mall/collect_white.png) no-repeat 17px center #7cb234;
	padding-left: 17px;
}
/*取消收藏*/
.product-operate .collect-product.cancel-collect{
	width: 100px;
	background: url(../images/mall/collect_white.png) no-repeat 17px center #7cb234;
	padding-left: 17px;
}
.product-operate .shop-product{
	width: 130px;
	background: url(../images/mall/car_white.png) no-repeat 20px center #eb3b42;
	padding-left: 20px;
}