body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:224px;
  width:780px;
  height:131px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:133px;
  top:0px;
  width:155px;
  height:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:288px;
  top:0px;
  width:133px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:421px;
  top:0px;
  width:181px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:602px;
  top:0px;
  width:173px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:36px;
  width:133px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:133px;
  top:36px;
  width:155px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:288px;
  top:36px;
  width:133px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:421px;
  top:36px;
  width:181px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:602px;
  top:36px;
  width:173px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:66px;
  width:133px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:133px;
  top:66px;
  width:155px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:288px;
  top:66px;
  width:133px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:421px;
  top:66px;
  width:181px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:602px;
  top:66px;
  width:173px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:96px;
  width:133px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:133px;
  top:96px;
  width:155px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:288px;
  top:96px;
  width:133px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:421px;
  top:96px;
  width:181px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:602px;
  top:96px;
  width:173px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:112px;
  top:132px;
  width:110px;
  height:22px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41_input:disabled {
  color:grayText;
}
#u42 {
  position:absolute;
  left:50px;
  top:135px;
  width:66px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:332px;
  top:135px;
  width:110px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44_input:disabled {
  color:grayText;
}
#u45 {
  position:absolute;
  left:240px;
  top:135px;
  width:92px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:572px;
  top:138px;
  width:60px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:467px;
  top:138px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:670px;
  top:138px;
  width:66px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:60px;
  top:30px;
  width:118px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:50px;
  top:404px;
  width:139px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
